.DS_Store
.ipynb_checkpoints/
review1/
dlnd-your-first-network.html
dlnd-your-first-net.zip
dlnd-your-first-neural-network.html
Bike-Sharing-Dataset/
neural_netwoks_notes.fls
neural_netwoks_notes.aux
neural_netwoks_notes.fdb_latexmk
neural_netwoks_notes.log
neural_netwoks_notes.out
neural_netwoks_notes.synctex.gz
brief_intro_neuralnets.md
